
{% block content %}
<p>Hello</p>
<h1>{{ article.title }}</h1>
{% if user.is_authenticated %}
  <a href="{% url 'update_article' slug=article.slug %}">
    Edit article
  </a>
  <a href="{% url 'delete_article' slug=article.slug %}">
    Delete article
  </a>
{% endif %}
<p>{{ article.date_posted }}</p>
<p>{{ article.last_modified }}</p>
<p>{{ article.body }}</p>
<p>{{ article.author }}</p>
{% for comment in comments %}
  <p>{{ comment.name }}</p>
  <p>{{ comment.body }}</p>
  <p>{{ comment.date_posted }}</p>
  {% if user.is_authenticated %}
  <a href="{% url 'delete_comment' slug=article.slug pk=comment.pk %}">Delete</a>
  {% endif %}
{% endfor %}

<form method="POST">
  {% csrf_token %}
  <p>{{ comment_form.as_p }}</p>
  <button type="submit" name="submit">Submit</button>
</form>
{% endblock content %}
